<ion-header class="no-border">
  <ion-toolbar>
    <ion-img class="avatar-logo" src="../../../assets/logo/YOKAP.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'dashboard.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" class="ion-text-center">
        <h3>{{ 'greeting' | translate: { userName: userName } }}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="mb-3">
          <ion-card-header>
            {{ 'dashboard.main_balance' | translate }}
            <ion-icon [name]="showSoldePrincipal ? 'eye' : 'eye-off'" size="large" (click)="toggleSoldePrincipalVisibility()"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <p *ngIf="showSoldePrincipal; else hiddenSolde">{{ soldePrincipal | currency:'XAF' }}</p>
            <ng-template #hiddenSolde>
              <p>*****</p>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Cartes pour les totaux -->
    <ion-row *ngIf="totals">
      <!-- Carte pour les dépôts -->
      <ion-col size-md="4">
        <ion-card class="total-card">
          <ion-card-header>
            <h3>{{ 'dashboard.deposit' | translate }}</h3>
            <ion-badge color="primary" slot="end"></ion-badge>
          </ion-card-header>
          <ion-item>
            <ion-label>{{ totals.Depot | currency:'XAF' }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <!-- Carte pour les retraits -->
      <ion-col size-md="4">
        <ion-card class="total-card">
          <ion-card-header>
            <h3>{{ 'dashboard.withdrawal' | translate }}</h3>
            <ion-badge color="secondary" slot="end"></ion-badge>
          </ion-card-header>
          <ion-item>
            <ion-label>{{ totals.Retrait | currency:'XAF' }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <!-- Carte pour les emprunts -->
      <ion-col size-md="4">
        <ion-card class="total-card">
          <ion-card-header>
            <h3>{{ 'dashboard.loan' | translate }}</h3>
            <ion-badge color="tertiary" slot="end"></ion-badge>
          </ion-card-header>
          <ion-item>
            <ion-label>{{ totals.Emprunt | currency:'XAF' }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <!-- Carte pour les prêts -->
      <ion-col size-md="4">
        <ion-card class="total-card">
          <ion-card-header>
            <h3>{{ 'dashboard.lending' | translate }}</h3>
            <ion-badge color="success" slot="end"></ion-badge>
          </ion-card-header>
          <ion-item>
            <ion-label>{{ totals.Pret | currency:'XAF' }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <!-- Carte pour l'épargne -->
      <ion-col size-md="4">
        <ion-card class="total-card">
          <ion-card-header>
            <h3>{{ 'dashboard.savings' | translate }}</h3>
            <ion-badge color="warning" slot="end"></ion-badge>
          </ion-card-header>
          <ion-item>
            <ion-label>{{ totals.Epargne | currency:'XAF' }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Graphique -->
    <ion-row>
      <ion-col size="12">
        <canvas #pieChart></canvas>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

