.avatar-logo {
  width: 40px; /* Ajustez la largeur comme nécessaire */
  height: 40px; /* Ajustez la hauteur comme nécessaire */
  border-radius: 50%; /* Pour créer une forme circulaire */
  overflow: hidden; /* Masquer les parties de l'image qui dépassent du cercle */
}

@media only screen and (max-width: 768px) {
  .ion-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

ion-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }
}

.total-card ion-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-icon {
    font-size: 1.5em;
    margin-left: 10px;
  }
}

.total-card ion-badge {
  --padding-start: 5px;
  --padding-end: 5px;
}


.total-card ion-item ion-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-header {
  background-color: #ffffff; /* Customize the background color */
}

.avatar-logo {
  height: 40px; /* Adjust the height of the logo */
}

.header-title {
  margin-left: 10px; /* Add margin for better spacing */
}

.greeting-row {
  margin-top: 20px; /* Add margin for better separation from the header */
}

.greeting-col {
  padding: 20px; /* Adjust padding for better spacing */
}

.greeting-message {
  font-size: 1.2em; /* Customize the font size */
  color: #333; /* Customize the text color */
}

.main-balance-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 10px; /* Round the corners */
}

.total-cards-row {
  justify-content: space-around; /* Adjust spacing between cards */
  margin-top: 20px; /* Add margin for better spacing */
}

.chart-canvas {
  width: 100%; /* Ensure the chart canvas takes full width */
  height: 200px; /* Adjust the height as needed */
}
