<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'operation.title' | translate:{value: operation.type} }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-badge slot="end">{{ soldePrincipal | currency:'XAF' }}</ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">{{ 'operation.operationType' | translate }}</ion-label>
    <ion-input [(ngModel)]="operation.type" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'operation.label' | translate }}</ion-label>
    <ion-input [(ngModel)]="operation.label" placeholder="{{ 'operation.labelPlaceholder' | translate }}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'operation.amount' | translate }}</ion-label>
    <ion-input type="number" [(ngModel)]="operation.amount" placeholder="{{ 'operation.amountPlaceholder' | translate }}"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="saveOperation()">{{ 'buttons.save' | translate }}</ion-button>
</ion-content>
