<ion-header>
  <ion-toolbar>
    <ion-title>configuration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Champ pour le nom d'utilisateur -->
    <ion-item>
      <ion-label position="stacked">Nom d'utilisateur</ion-label>
      <ion-input [(ngModel)]="userName"></ion-input>
    </ion-item>

    <!-- Sélecteur pour la langue -->
    <ion-item>
      <ion-label position="stacked">Langue</ion-label>
      <ion-select [(ngModel)]="language" (ionChange)="changeLanguage()">
        <ion-select-option value="fr">Français</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
        <!-- Ajoutez d'autres options de langue ici si nécessaire -->
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- Bouton pour enregistrer les modifications -->
  <ion-button expand="full" (click)="saveSettings()">Enregistrer les modifications</ion-button>
  <ion-button expand="full" (click)="navigateToDashboard()">menu</ion-button>

</ion-content>
